.medication-container {
    width:80vw;
    height: 100vh;
    margin: 0 auto;
    background-color: rgb(241, 241, 241);
}

.card-container {
    /* display: flex;
    gap: 1rem; */
}

.card {
    background-color: aliceblue;
}