<main>
    <app-search-bar (messageEvent)="receiveMessage($event)"></app-search-bar>
    <article class="medication-container">
        <!-- <div class="button-container">
            <button>prev</button>
        </div> -->
        <div class="card-container" *ngFor="let item of myData?.results">
            <div class="card" *ngFor="let products of item?.products">
                <div class="card-content">
                    <h1>{{products.brand_name | json}}</h1>
                    <p>product_number : {{products.product_number | json}}</p>
                    <p>reference_drug : {{products.reference_drug | json}},</p>
                    <p>active_ingredients name : {{ products.active_ingredients[0].name | json}}</p>
                    <p>active_ingredients strength : {{ products.active_ingredients[0].strength | json}}</p>
                    <p>reference_standard : {{products.reference_standard | json}}</p>
                    <p>dosage_form: {{ products.dosage_form | json}}</p>
                    <p>route: {{products.route | json}}</p>
                    <p>marketing_status : {{products.marketing_status | json}}</p>
                </div>
                
            </div>
        </div>
        <div *ngIf="errorMessage">
            {{errorMessage}} 
        </div>
        
        
        <!-- <div class="button-container">
            <button>next</button>
        </div>  -->
    </article>
</main>