.medication-container {
    /* width:100vw;
    height: 100vh;  */
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.medication-container-hidden {
    display: hidden;
}

table {
    margin:0;
}

table, th, td {
    border: 1px solid;
}
table, td {
    text-align: center;
}

.error-container {
    width:100vw;
}

.error {
    color:red;
    text-align: center;
}

.card-container {
    height:400px;
    width:400px;
    margin:10px;
 }

.card {
    background-color: #ffa500;
    border:1px #ccc solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card p{
    word-wrap: break-word;
}

.card h1 {
    background-color: #ADD8E6;
}
.card-content {
    height:350px;
    background-color: white;
    overflow-y: scroll;
}

/*  
    desktop: 1200px
    laptop: 1024px
    tablet: 768px
    phone: 480px
*/

/* responsive phone */
@media screen and (max-width: 480px) {
    .card-content {
      /* background-color: lightgreen; */
    }
    .medication-container {
        margin-right: 10px;
        margin-left: 10px;
    }
}

/* responsive TABLETS / LAPTOPS */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .card-content { 
      /* background-color: red; */
    }
}

/* responsive DESKTOP / LARGER SCREENS */
@media screen and (min-width: 1024px) {
    /* .card-content {
      background-color: orange;
    } */
}