.form-container {
    width: 30%;
    margin: 0 auto;
}

.selectItemsDropdown {
    width:30%;
    padding:8.7px;
    border-radius: 0px;
    border: 1px solid black;
    border-right: 0;
}

.inputSearch {
    width:50%;
    padding:9px;
    border-radius: 0px;
    border: 1px solid black;
	border-right: 0;
}

.submitButton {
    width:20%;
    padding:9px;
    border:1px solid black;
    background-color: #ADD8E6;
}

/* responsive PHONE */
@media screen and (max-width: 480px) {
    .form-container {
      width:95%;
    }
    .selectItemsDropdown option {
        font-size: 10px;
    }
}

/* responsive TABLETS */
@media screen and (min-width: 480px) and (max-width: 768px) {
    .form-container {
      width:80%;
    }
}

/* responsive LAPTOPS */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .form-container {
        width:50%;
    }
}

/* responsive DESKTOP */
@media screen and (min-width: 1024px) and (max-width:1200px) {
    .form-container {
        width:50%;
    }
}

/* responsive LARGER SCREENS */
@media screen and (min-width:1200px) {
    .form-container {
        width:30%;
    }
}